@media print {
  html {
    font-size: 1.25rem;
  }

  :root {
    --title-color: #000;
  }

  table {
    page-break-inside: avoid;
  }

  pre {
    page-break-inside: avoid;
    word-wrap: break-word;
  }

  /* PageBreak when h2 */
  /* when u dont use this u can comment it */
  h2 {
    page-break-before: always;
  }

  h2:first-of-type {
    page-break-before: avoid;
  }

  #write {
    max-width: 100%;
  }

  @page {
    /* PDF output size */
    size: A3;
    margin-left: 0;
    margin-right: 0;
  }
}
